<!DOCTYPE html>
<html>
  <head>
    <title>Buyer Listing</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/buyer_listing/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/buyer_listing/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Image) -->
      <div id="u100" class="ax_default image">
        <img id="u100_img" class="img " src="images/search/u0.png"/>
        <div id="u100_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u101" class="ax_default" data-left="0" data-top="87" data-width="1366" data-height="61">

        <!-- Unnamed (Rectangle) -->
        <div id="u102" class="ax_default box_1">
          <div id="u102_div" class=""></div>
          <div id="u102_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u103" class="ax_default text_field">
          <div id="u103_div" class=""></div>
          <input id="u103_input" type="text" value="" class="u103_input"/>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u104" class="ax_default droplist">
          <div id="u104_div" class=""></div>
          <select id="u104_input" class="u104_input">
            <option class="u104_input_option" value="Filters">Filters</option>
          </select>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u105" class="ax_default image">
          <img id="u105_img" class="img " src="images/search/u56.png"/>
          <div id="u105_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u106" class="ax_default box_1">
        <div id="u106_div" class=""></div>
        <div id="u106_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u107" class="ax_default button">
        <img id="u107_img" class="img " src="images/buyer_listing/u107.svg"/>
        <div id="u107_text" class="text ">
          <p><span>&lt;</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u108" class="ax_default button">
        <img id="u108_img" class="img " src="images/buyer_listing/u108.svg"/>
        <div id="u108_text" class="text ">
          <p><span>&gt;</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u109" class="ax_default text_field">
        <img id="u109_img" class="img " src="images/buyer_listing/u109.svg"/>
        <input id="u109_input" type="text" value="Title + Edition" class="u109_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u110" class="ax_default text_field">
        <img id="u110_img" class="img " src="images/search/u3.svg"/>
        <input id="u110_input" type="text" value="ISBN-13" class="u110_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u111" class="ax_default text_field">
        <img id="u111_img" class="img " src="images/search/u5.svg"/>
        <input id="u111_input" type="text" value="Author" class="u111_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u112" class="ax_default text_field">
        <img id="u112_img" class="img " src="images/search/u3.svg"/>
        <input id="u112_input" type="text" value="Seller + Rating (in Stars)" class="u112_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u113" class="ax_default text_field">
        <img id="u113_img" class="img " src="images/search/u8.svg"/>
        <input id="u113_input" type="text" value="Condition" class="u113_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u114" class="ax_default text_field">
        <img id="u114_img" class="img " src="images/buyer_listing/u114.svg"/>
        <input id="u114_input" type="text" value="Price" class="u114_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u115" class="ax_default button">
        <img id="u115_img" class="img " src="images/buyer_listing/u115.svg"/>
        <div id="u115_text" class="text ">
          <p><span>&lt; Back</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u116" class="ax_default button">
        <img id="u116_img" class="img " src="images/cart/u97.svg"/>
        <div id="u116_text" class="text ">
          <p><span>Add to Cart</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u117" class="ax_default button">
        <img id="u117_img" class="img " src="images/buyer_listing/u117.svg"/>
        <div id="u117_text" class="text ">
          <p><span>Save</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u118" class="ax_default button">
        <img id="u118_img" class="img " src="images/buyer_listing/u117.svg"/>
        <div id="u118_text" class="text ">
          <p><span>Message</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u119" class="ax_default button">
        <img id="u119_img" class="img " src="images/buyer_listing/u117.svg"/>
        <div id="u119_text" class="text ">
          <p><span>View Seller</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
