{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<!-- <h1>All Listings ({{ object_list|length }})</h1> -->

<div class="text-center">
  <h1>Search Results</h1>
</div>

<div class="row">
  <div class="col-12 col-lg-12 py-2 mx-auto">
    <form class="form-inline justify-content-center">
      <!-- <form name="search" method="GET" action="{% url 'listings' %}"> 
        <input type="text" name="q" placeholder="Search"/>
        <button class="btn btn-primary " type="submit">Search</button>
      </form> -->
    </form>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-12 py-2 mx-auto">
    <form class="form-inline justify-content-center">
      <!-- <form name="search" method="GET" action="{% url 'listings' %}"> 
        <input type="text" name="q" placeholder="Search"/>
        <button class="btn btn-primary " type="submit">Search</button>
      </form> -->
    </form>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-lg-2 ml-2 py-2 my-2">
    <button class="btn-lg btn-primary mb-2 w-100" type="button" data-toggle="collapse" data-target="#conditions" aria-expanded="false" aria-controls="collapseExample">
      Filters
    </button>
      <div class="collapse" id="conditions">
        <form >

          {{ form.condition_field | as_crispy_field }}
          {{ form.title_field | as_crispy_field }}
          {{ form.author_field | as_crispy_field}}
          {{ form.edition_field | as_crispy_field }}

          <input type="submit" class="btn btn-primary" value="Apply">
        </form>
      </div>


    </form>
  </div>
  {% if object_list %}
  <div class="col-lg-9 col-md-10 col-sm-12 mx-auto">
    <form method='get' action='#'>
      <input class="btn btn-primary" type="submit" value="Price: Low to High" name="Price: Low to High"/>
    </form>
    
    {% for object in object_list %}
    {% if object.hide_listing is False %}
    <!-- will need to adjust to create grid with fixed num of columns  -->
    <!-- <div class="col-sm-4"> -->
      <!-- <a href="{{ object.get_absolute_url }}">{{ object.book.title }}</a> {{object.book.author}} -->
      <div class="row border rounded mb-3 py-1" style="min-height: 200px;">
        
        <div class="col-lg-2 col-md-2 col-sm-12 mx-2 my-auto" style="min-height: 50px;">
          Cover image of the book
        </div>
        
        <div class="col-lg-4 col-md-5 col-sm-12 my-auto mr-auto">
          <a class="text-decoration-none text-dark" href="{{ object.get_absolute_url }}" ><h4> {{ object.book.title }}</h4></a>
          <p class="text-muted"> {{ object.book.author }}</p>
          <p><strong>Edition:</strong> {{ object.book.edition }}</p>
          <p><strong>ISBN-13:</strong> {{ object.book.isbn }}</p>
          <p><strong>Sold by:</strong> {{ object.user.username }} </p>
        </div>
        
        <div class="my-auto col-lg-4 col-md-3 col-sm-12">
          <p><strong>Condition:</strong> {{object.get_condition_display}}</p> 
          <p><strong>Price:</strong> ${{ object.price}}</p>
          <a href="{{ object.get_absolute_url }}" class="btn btn-primary w-100 mb-3">Details</a>
        </div>
        
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <!-- <ul>
    {% for object in object_list %}
    <li>
      <a href="{{ object.get_absolute_url }}">{{ object.book.title }}</a> {{object.book.author}}
    </li>
    {% endfor %}
  </ul> -->
  {% else %}
  <p>There are no current listings.</p>
  {% endif %} 
</div>
{% endblock %}
