{% extends 'base.html' %}

{%block content%}

{% if user.is_admin or user.is_superuser %}
	<strong>ADMIN</strong>
	<br/>
	Welcome admin {{user.username}}!
	<br/>
	<br/>
	There have been {{ num_books }} books put up for sale.
	<br/>
	{{num_listings}} of those are still for sale.
	<br/>
	There are {{num_users}} users registered.
	<br/>
	<br/>
	{% for num in searches %}
		There have been {{num.count}} searches.
	{% endfor %}
	<!-- Need to figure out how to count searches -->
	<br/>
	<br/>
	<strong>User Reports</strong>
	<br/>
	<div class="card-deck col-lg-10 col-sm-12 py-2 mx-auto">
		{% for object in report %}
			<div class="card col-sm-4 rounded">
			<div class="card-body">
				<h5 class="card-title"> {{ object.book.title }}</h5>
				<p class="card-subtitle mb-2 text-muted"> {{ object.book.author }}</p>
				<p class="card-text">{{ object.book.edition }} Edition</p>
				<p class="card-text">ISBN-13: {{ object.book.isbn }}</p>
				<p class="card-text">Price: ${{ object.price}}</p>
				<a href="{{ object.get_absolute_url }}" class="btn btn-primary">Details</a>
				<br/>
				<br/>
				<p class="card-text">Reporting Party: {{object.report.sent_by}}</p>
				<p class="card-text">Report Date: {{object.report.date_reported}}</p>
				<a href="{% url 'clearlisting' object.id %}" class="btn btn-primary">Clear Report</a>
				<a href="{% url 'newuserconversation' object.user.id %}" class="btn btn-primary">Message User</a>
				<br/>
				<br/>
				<a href="{% url 'removelisting' object.id %}" class="btn btn-primary">Remove Listing</a>
				<a href="{% url 'ban_user' object.user.id %}" class="btn btn-primary">Ban User</a>
			</div>
		</div>
		<br/>
		
	{% endfor %}
	</div>
	<br/>
	<br/>
	<strong>Users with low buyer ratings</strong>
	<br/>
	<div class="card-deck col-lg-10 col-sm-12 py-2 mx-auto">
	{% for users in low_buyer %}
		<div class="card col-sm-4 rounded">
			<div class="card-body">
				<h5 class="card-title">User:  {{ users.user }}</h5>
				<p class="card-text">Rating: {{ users.buyer_rating }}</p>
				<br/>
				<a href="{% url 'ban_user' users.user.id %}" class="btn btn-primary">Ban User</a>
				<a href="{% url 'newuserconversation' users.user.id %}" class="btn btn-primary">Message User</a>
			</div>
		</div>
		<br/>
	{% endfor %}
	</div>
	
	<br/>
	<strong>Users with low seller ratings</strong>
	<br/>
	<div class="card-deck col-lg-10 col-sm-12 py-2 mx-auto">
	{% for users in low_seller %}
		<div class="card col-sm-4 rounded">
			<div class="card-body">
				<h5 class="card-title">User:  {{ users.user }}</h5>
				<p class="card-text">Rating: {{ users.buyer_rating }}</p>
				<br/>
				<a href="{% url 'ban_user' users.user.id %}" class="btn btn-primary">Ban User</a>
				<a href="{% url 'newuserconversation' users.user.id %}" class="btn btn-primary">Message User</a>
			</div>
		</div>
		<br/>
	{% endfor %}
	</div>
	<br/>
	<br/>
	<a class="btn btn-primary" href="{% url 'admin:index' %}">Account Management</a>
	<br/>
	<br/>
	
{% else %}
	<br/>
	<br/>
	<strong>You are not an admin</strong>
	<br/>
	<br/>
	<a class="btn btn-primary" href="{% url 'index' %}">Return Home</a>
{% endif %}





{%endblock%}