{% extends 'base.html' %}

{%block content%}

{% if user.username in "reinersr" %}
	<strong>ADMIN</strong>
	<br/>
	Welcome admin {{user.username}}!
	<br/>
	<br/>
	There have been {{ num_books }} books put up for sale.
	<br/>
	{{num_listings}} of those are still for sale.
	<br/>
	There are {{num_users}} users registered.
	<br/>
	<br/>
	There have been {{search}} searches.
	<!-- Need to figure out how to count searches -->
	<br/>
	<br/>
	User Reports
	<br/>
	{% for object in report %}
		<div class="card col-sm-4 rounded">
			<div class="card-body">
				<h5 class="card-title"> {{ object.book.title }}</h5>
				<p class="card-subtitle mb-2 text-muted"> {{ object.book.author }}</p>
				<p class="card-text">{{ object.book.edition }} Edition</p>
				<p class="card-text">ISBN-13: {{ object.book.isbn }}</p>
				<p class="card-text">Price: ${{ object.price}}</p>
				<a href="{{ object.get_absolute_url }}" class="btn btn-primary">Details</a>
				<p class="card-text">Reporting Party: {{object.report.sent_by}}</p>
				<p class="card-text">Report Date: {{object.report.date_reported}}</p>
			</div>
		</div>
		
		
		<!---
		<div class="card col-sm-4 rounded">
			<div class="card-body">
				<h5 class="card-title"> {{ object.reported_listing.book.title }}</h5>
				<p class="card-subtitle mb-2 text-muted"> {{ object.reported_listing.book.author }}</p>
				<p class="card-text">{{ object.reported_listing.book.edition }} Edition</p>
				<p class="card-text">ISBN-13: {{ object.reported_listing.book.isbn }}</p>
				<p class="card-text">Price: ${{ object.reported_listing.price}}</p>
				<a href="{{ object.get_absolute_url }}" class="btn btn-primary">Details</a>
				<p class="card-text">Reporting Party: {{object.sent_by}}</p>
				<p class="card-text">Report Date: {{object.date_reported}}</p>
			</div>
		</div>
		-->
	{% endfor %}
	<br/>
	<br/>
	Users with low ratings
	<br/>
	
	<br/>
	<br/>
	
{% else %}
	<br/>
	<br/>
	<strong>You are not an admin</strong>
	<br/>
	<br/>
	<a class="btn btn-primary" href="{% url 'index' %}">Return Home</a>
{% endif %}





{%endblock%}