{% extends "base.html" %}

{% block content %}
    <h1>Oasis Home</h1>
    <p>Textbooks can be dry, but buying them doesn't have to be. Welcome to the Oasis.</p>
    <h2>Some stuff</h2>
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
    {% else %}
        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
    {% endif %}
    <p>Current listings:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Listings:</strong> {{ num_listings }}</li>
        <li><strong>Users</strong> {{ num_users }}</li>
    </ul>
{% endblock %}