{% extends "base.html" %}

{% block content %}
<!-- <h1>All Listings ({{ object_list|length }})</h1> -->

<div class="text-center">
  <h1>Search Results</h1>
</div>

<div class="row">
  <div class="col-12 py-2 mx-auto">
    <form class="form-inline justify-content-center">
      <input class="form-control col-lg-8 mx-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary " type="submit">Search</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-2 rounded py-2 mx-auto" style="background-color:lightgrey;">
    Filters Go Here
  </div>
  
  {% if object_list %}
  <div class="card-deck col-lg-8 col-sm-12 py-2 mx-auto">
    {% for object in object_list %}
    <!-- will need to adjust to create grid with fixed num of columns  -->
    <!-- <div class="col-sm-4"> -->
      <!-- <a href="{{ object.get_absolute_url }}">{{ object.book.title }}</a> {{object.book.author}} -->
      
      <div class="card col-sm-4 rounded" style="width: 30%">
        <div class="card-body">
          <h5 class="card-title"> {{ object.book.title }}</h5>
          <p class="card-subtitle mb-2 text-muted"> {{ object.book.author }}</p>
          <p class="card-text">{{ object.book.edition }} Edition</p>
          <p class="card-text">ISBN-13: {{ object.book.isbn }}</p>
          <p class="card-text">Price: ${{ object.price}}</p>
          <a href="{{ object.get_absolute_url }}" class="btn btn-primary">Details</a>
        </div>
      </div>
      <!-- </div> -->
      {% endfor %}
    </div>
  </div>
  <!-- <ul>
    {% for object in object_list %}
    <li>
      <a href="{{ object.get_absolute_url }}">{{ object.book.title }}</a> {{object.book.author}}
    </li>
    {% endfor %}
  </ul> -->
  {% else %}
  <p>There are no current listings.</p>
  {% endif %} 
  {% endblock %}