{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}


<h2 class="text-center">Login</h2>

<form method="post" class="col-lg-4 col-md-8 col-sm-10 mx-auto py-2">
    {% csrf_token %}
    {{form|crispy}}
    <div class="text-center">
        <button class="btn btn-primary" type='submit'>Submit</button>
    </div>
</form>

<div class="text-center" >
    <p class="">Don't have an account?</p>       
    <a class="btn btn-primary" href="{% url 'clientcreation' %}">Sign Up Here</a>
</div>


{% endblock %}

