{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'messaging.css' %}" >
<script src="https://use.fontawesome.com/03ca2ca227.js"></script>
{% endblock %}

{% block content %}
<!-- {{request.user.username}}

<p>Conversations from context: {{ conversations }}</p> -->
<div class="container">
  <div class="row">

    <!-- recent conversations -->
    <div class="col-4 px-0">
      <div class="bg-gray px-4 py-2 bg-light">
        <p class="h5 mb-0 py-1">Recent</p>
      </div>
    <div class="list-group rounded-0" id="message-box">
    {% for conversation in conversations %}

        <button type="button" class="list-group-item list-group-item-action" onclick="buttonClick(this,'{{conversation.id}}')" >
          {{ conversation.buyer.first_name }} {{conversation.buyer.last_name}}
        </button>

    {% endfor %}
    </div>
    </div>

    <!-- chat box -->
    <div class="col-8 px-0" id="current-conversation">

      <!-- Area for messages to be added -->
      <div class="px-4 py-5 bg-white" id = "chat-log">
        
      </div>  

      <!-- New message entry -->
      <div class="input-group mb-3 bg-light">
        <input type="text" class="form-control py-4 bg-light border-0" id="chat-message-input">
        <div class="input-group-append">
          <button class="btn btn-link" type="button" id="chat-message-submit"><i class="fa fa-paper-plane"></i></button>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  let sessionKey = '{{ request.session.session_key }}';
  let currentUser = '{{ request.user.username }}';
  var chatSocket;

  function buttonClick(element,conversation_id){
    //if a current message is open
    if (chatSocket){
      //close it (to prevent messages being sent to the wrong person)
      chatSocket.close();
      //wipe old messages from screen
      document.querySelector('#chat-log').innerHTML = ""
      //make previous button inactive
      document.querySelector('.active').className = "list-group-item list-group-item-action"
    }
    //make button appear active
    element.className += ' active'
    //print current websocket just for debugging
    console.log(chatSocket);

    //open a new websocket for this conversation
    chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/messaging/'
        // + sessionKey
        // + "/"
        + conversation_id.replace(/-/g,"") //new chat session for every conversation
        //removes dashes from conversation_id because django doesn't like them idk why
        + '/'
    );
    //for debugging print chatSocket to verify it's different than before
    console.log(chatSocket);

    //function to print new message (either sent or received)
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data);

        //create new item for newest message
        let div1 = document.createElement('div');
        let div2 = document.createElement('div');
        let div3 = document.createElement('div');
        let message = document.createElement("p");
        let timestamp = document.createElement("p");
        //add message data 
        message.append(data.message);
        timestamp.className = "small text-muted";
        //add structure
        div3.append(message);
        div3.append(timestamp);
        div2.append(div3);
        div1.append(div2);
        //add formatting
        
        if (data.sender == currentUser){
          //classes depends on whether sent by current user or other user
          //this prints to the right 
          div1.className = "media w-50 ml-auto mb-3";
          div2.className = "media-body";
          div3.className="bg-primary rounded py-2 px-3 mb-2"
          message.className = "text-small mb-0 text-white"
        }
        else{
          //this prints to the left
          div1.className = "media w-50 mb-3";
          div2.className = "media-body ml-3";
          div3.className="bg-light rounded py-2 px-3 mb-2"
          message.className = "text-small mb-0 text-muted"
          
        }
        //add to chat log
        document.querySelector('#chat-log').append(div1);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        //get text from input field
        const message = messageInputDom.value;
        //send message 
        chatSocket.send(JSON.stringify({
            'message': message,
            'conversation_id': conversation_id,
            'sender': currentUser,
        }));
        //wipe input field
        messageInputDom.value = '';
    };
  }
</script>
{% endblock %}
