{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'messaging.css' %}" >
<script src="https://use.fontawesome.com/03ca2ca227.js"></script>
{% endblock %}

{% block content %}
<!-- {{request.user.username}}


<p>Conversations from context: {{ conversations }}</p> -->
<div class="container">
  <div class="row">

    <!-- recent conversations -->
    <div class="col-4 px-0">
      <div class="bg-gray px-4 py-2 bg-light">
        <p class="h5 mb-0 py-1">Recent</p>
      </div>
    <div class="list-group rounded-0" id="message-box">
    {% for conversation in conversations %}

        <button type="button" class="list-group-item list-group-item-action" onclick="buttonClick(this,'{{conversation.id}}')" >
          {{ conversation.buyer.first_name }} {{conversation.buyer.last_name}}
        </button>

    {% endfor %}
    </div>
    </div>

    <!-- chat box -->
    <div class="col-8 px-0" id="current-conversation">
      <!-- <div class="media w-50 ml-auto mb-3"> -->
        <div class="d-flex justify-content-end bg-gray px-4 py-2 bg-light">
          <a href='' class="btn btn-success btn-sm invisible" id="close-convo-btn">Remove From Cart</a>
          <!-- <button type="button" class="btn btn-success btn-sm">Mark complete</button> -->
        </div>
      <!-- </div> -->

      <!-- Area for messages to be added -->
      <div class="px-4 py-5 bg-white" id = "chat-log">

      </div>

      <!-- New message entry -->
      <div class="input-group mb-3 bg-light">
        <input type="text" class="form-control py-4 bg-light border-0" id="chat-message-input">
        <div class="input-group-append">
          <button class="btn btn-link" type="button" id="chat-message-submit"><i class="fa fa-paper-plane"></i></button>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  if (window.JSON && !window.JSON.dateParser) {
      var reISO = /^(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2}(?:\.\d*))(?:Z|(\+|-)([\d|:]*))?$/;
      var reMsAjax = /^\/Date\((d|-|.*)\)[\/|\\]$/;

      JSON.dateParser = function (key, value) {
          // first, just make sure the property is a string:
          if (typeof value === 'string') {
              // then, use regex to see if it's an ISO-formatted string
              var a = reISO.exec(value);
              if (a) {
                  // if so, Date() can parse it:
                  return new Date(value);
              }
              // otherwise, see if it's a wacky Microsoft-format string:
              a = reMsAjax.exec(value);
              if (a) {
                  // and perform some jujitsu to make use of it:
                  var b = a[1].split(/[-+,.]/);
                  return new Date(b[0] ? +b[0] : 0 - +b[1]);
              }
              // here, you could insert any additional tests and parse instructions you like, for other date syntaxes...
          }
          // important: you need to return any values you're not parsing, or they die...
          return value;
      };
  }

  // use: JSON.parse(json,JSON.dateParser);
  let sessionKey = '{{ request.session.session_key }}';
  let currentUser = '{{ request.user.id }}';
  let msgs = JSON.parse('{{messages|safe}}',JSON.dateParser);
  var chatSocket;

  function loadMessage(data) {


        //create new item for newest message
        let div1 = document.createElement('div');
        let div2 = document.createElement('div');
        let div3 = document.createElement('div');
        let message = document.createElement("p");
        let timestamp = document.createElement("p");
        //add message data
        message.append(data.message);
        timestamp.className = "small text-muted";
        //add structure
        div3.append(message);
        div3.append(timestamp);
        div2.append(div3);
        div1.append(div2);
        //add formatting

        if (data.sentby_id == currentUser){
          //classes depends on whether sent by current user or other user
          //this prints to the right
          div1.className = "media w-50 ml-auto mb-3";
          div2.className = "media-body";
          div3.className="bg-primary rounded py-2 px-3 mb-2"
          message.className = "text-small mb-0 text-white"
        }
        else{
          console.log(data.sentby_id + ' '+ currentUser)
          //this prints to the left
          div1.className = "media w-50 mb-3";
          div2.className = "media-body ml-3";
          div3.className="bg-light rounded py-2 px-3 mb-2"
          message.className = "text-small mb-0 text-muted"

        }
        //add to chat log
        document.querySelector('#chat-log').append(div1);
  };


  function loadConversation(conversation_id){
    let current_conversation = msgs.filter(item => item[0] == conversation_id);
    //get only the array of messages
    current_conversation = current_conversation[0][1];
    //sort by timestamp (second field, or item[1])
    current_conversation.sort(item=>item[1]);
    current_conversation.reverse();
    for (index in current_conversation){
      let msg = current_conversation[index]
      loadMessage(msg);
    }
    let close_btn = document.getElementById("close-convo-btn")
    // let startofstring="{% url 'messaging/closeconversation' user_id="
    // close_btn.href=startofstring.concat(currentUser, " conversation_id=", conversation_id, " %}");
    let startofstring="messaging/closeconversation/"
    close_btn.href=startofstring.concat(currentUser, "/", conversation_id);
    close_btn.className="btn btn-success btn-sm"
  }

  //Robby
  function sendReminder(conversation_id){
	let current_conversation = msgs.filter(item => item[0] == conversation_id);
	current_conversation.sort(item => item[1]);
	len = current_conversation.length
	if(current_conversation[len-1]+1.5<date()){
		sys_msg = "It has been over 36 hours since your last message. If you have completed this transaction please mark the transaction as finished and rate the other party. Thank you for continuing to use the Oasis."
	}
  }
  //Robby

  function buttonClick(element,conversation_id){
    //if a current message is open
    if (chatSocket){
      //close it (to prevent messages being sent to the wrong person)
      chatSocket.close();
      //wipe old messages from screen
      document.querySelector('#chat-log').innerHTML = ""
      //make previous button inactive
      document.querySelector('.active').className = "list-group-item list-group-item-action"
    }
    console.log("calling load conversation on " + conversation_id)
    loadConversation(conversation_id);
    //make button appear active
    element.className += ' active'
    //print current websocket just for debugging
    console.log(chatSocket);

    //open a new websocket for this conversation
    chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/messaging/'
        // + sessionKey
        // + "/"
        + conversation_id.replace(/-/g,"") //new chat session for every conversation
        //removes dashes from conversation_id because django doesn't like them idk why
        + '/'
    );
    //for debugging print chatSocket to verify it's different than before
    console.log(chatSocket);

    //function to print new message (either sent or received)
    chatSocket.onmessage = function(e){
      const data = JSON.parse(e.data);
      console.log(data);
      loadMessage(data);
    }


    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        //get text from input field
        const message = messageInputDom.value;
        //send message
        chatSocket.send(JSON.stringify({
            'message': message,
            'conversation_id': conversation_id,
            'sentby_id': currentUser,
        }));
        //wipe input field
        messageInputDom.value = '';
    };
  }
</script>

{% endblock %}
